* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  width: 100%;
  margin: 0px;
  background-color: #1f2235;
  padding: 35px 98px;
  position: fixed;
}

.horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 38px;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.nav-item a:hover {
  color: rgb(255, 74, 87);
}

.home {
  background-color: #24263b;
  padding: 28px 98px;
}

#social-icons {
  display: flex;
  margin-top: 120px;
}

.icons {
  margin: 30px 15px;
  background-color: #24263b;
  color: #fff;
  padding: 8px 10px;
  border: 2px solid rgb(255, 74, 87);
  border-radius: 50%;
}

.icons:hover {
  background-color: rgb(255, 74, 87);
}

#p-name {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
  flex-direction: column;
  color: white;
}

#p-name h1 {
  font-size: 40px;
  font-weight: 600;
}

#name,
p {
  margin-top: 10px;
}

#img-1 {
  margin-left: 755px;
  margin-top: -32%;
}

.reel {
  margin-top: 32px;
  /*margin-left: 35px;*/
  width: 11em;
  height: 4em;
  border-radius: 3em;
  background: inherit;
  border: 4px solid rgb(255, 74, 87);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.reel:hover {
  background-color: rgb(255, 74, 87);
  transition: 0.5s;
}
#play {
  margin-top: -4%;
  margin-left: 160px;
  padding-top: 9px;
  padding-left: 44px;
  width: 5em;
  font-size: 20px;
  height: 45px;
  border-radius: 3em;
  background: rgb(255, 74, 87);
  border: none;
  color: #fff;
}

.services {
  justify-content: space-between;
  background-color: #1f2235;
  padding: 28px 98px;
  margin-top: 0px;
}

.offer {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.offer h1 {
  font-size: 40px;
  font-weight: 600;
}

.offer p {
  font-size: 20px;
  font-weight: 600;
}

.item {
  height: 300px;
  width: 300px;
  background-color: #23263a;
  margin: 14px;
  border-radius: 16px;
  align-items: center;
}

.item h1 {
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-align: left;
  padding: 30px;
}

.item p {
  font-size: 14px;
  font-weight: 300;
  color: white;
  text-align: left;
  margin-top: -40px;
  padding: 30px;
}

.item:hover {
  background-color: #ff4a57;
  transition: -0.3ms;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  padding: 5px 88px;
}

#logo-icons{
margin-left:10%;
font-size:45px;
margin-top:15%;
color: rgb(255, 74, 87);
}


#logo-icons:hover{
color: white;
transition: 0.5s;

}





